In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
df=pd.read_csv('onlinefraud.csv')

In [3]:
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [32]:
df.drop(["oldbalanceDest","newbalanceDest"],axis=1,inplace=True)

In [33]:
df.isnull().sum()

amount            0
oldbalanceOrg     0
newbalanceOrig    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [35]:
df.drop(["isFlaggedFraud"],axis=1,inplace=True)

In [36]:
df.head(10)

     amount  oldbalanceOrg  newbalanceOrig  isFraud
0   9839.64      170136.00       160296.36        0
1   1864.28       21249.00        19384.72        0
2    181.00         181.00            0.00        1
3    181.00         181.00            0.00        1
4  11668.14       41554.00        29885.86        0
5   7817.71       53860.00        46042.29        0
6   7107.77      183195.00       176087.23        0
7   7861.64      176087.23       168225.59        0
8   4024.36        2671.00            0.00        0
9   5337.77       41720.00        36382.23        0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   amount          float64
 1   oldbalanceOrg   float64
 2   newbalanceOrig  float64
 3   isFraud         int64
dtypes: float64(3), int64(1)
memory usage: 194.2 MB

In [5]:
label= LabelEncoder()
obj=(df.dtypes=='object')
for col in list(obj[obj].index):
    df[col]=label.fit_transform(df[col])

In [38]:
x = df.drop('isFraud', axis=1)  # 'fraudulent' is the target variable
y = df['isFraud']

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=5)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   amount          float64
 1   oldbalanceOrg   float64
 2   newbalanceOrig  float64
 3   isFraud         int64
dtypes: float64(3), int64(1)
memory usage: 194.2 MB

In [50]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(x_train)
X_test_scaled=scaler.transform(x_test)
model = RandomForestClassifier(n_estimators=100, random_state=5)

In [52]:
model.fit(x_train, y_train)

RandomForestClassifier(random_state=5)

In [53]:
y_pred=model.predict(X_test_scaled)

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [54]:
accuracy=accuracy_score(y_pred,y_test)

In [55]:
accuracy

0.3655608852956801